.con {
    width: 1000px;
    height: 600px;
    margin-left: 10px;
}

.dev {
    width: 100% ;
    display: flex ;
    justify-content: start;
}

p {
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: #606060;
    text-decoration: none;
}

a:hover {
    color: #fe8e14;
}

input {
    font: normal 12px verdana;
    color: #444;
}

input.invalid {
    background-color: #FF9;
    border: 2px red inset;
}

a img {
    border: none;
}

a img:hover {
    border: none;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.btnOrg {
    padding: 0 15px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    background: #FE8E14 0% 0% no-repeat padding-box;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-right: 15px;
}

.btnOrg:hover {
    background: #FEA543;
}

.btnLoadAndSave {
    float: right;
    position: relative;
    margin-top: 16px;
    font-size: 12px;
    cursor: pointer;
    font: normal normal normal 14px/21px Oswald;
    letter-spacing: 0px;
    color: #FE8E14;
    text-transform: uppercase;
}








#ScanWrapper {
    float: right;
    width: 315px;
    height: 580px;
}

div.divinput {
    line-height: 39px;
   margin: 20px;
   margin-top: 0px;
    text-align: left;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    width: 600px;
   
    font-size: 30px;
}



#ScanWrapper .toggle {
    cursor: default;
}

.divTableStyle {
    padding: 10px 20px 9px;
    /*border-bottom: solid 1px #ccc;*/
}

#ScanWrapper select, #divSaveDetail input[type='text'] {
    margin-top: 3px;
    margin-bottom: 6px;
    height: 26px;
    border: solid 1px #ccc;
    -moz-border-radius: 3px;
    outline: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #606060;
}





select#source {
    margin-top: 3px;
    padding-left: 3px;
    width: 100%;
    font-size: 12px;
    outline: none;
}

select#Resolution {
    margin-left: 3px;
    width: 192px;
    height: 26px;
}

#divProductDetail li {
    margin-top: 8px;
}

#divProductDetail li:first-child {
    margin-top: 3px;
}

#divProductDetail li label {
    display: inline-block;
    margin: 0 10px 0 0;
}

#divProductDetail li label:last-child {
    margin: 0;
}

#divProductDetail li label input {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

#divProductDetail li .lblPixelType {
    display: inline-block;
    margin: 0 28px 0 0;
}

.btnScanGray {
    margin-top: 10px;
    margin-bottom: 8px;
    width: 87px;
    height: 32px;
    line-height: 30px;
    border: none;
    background: #ddd;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font: normal normal normal 16px/24px Oswald;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btnScanActive {
    background: 0% 0% no-repeat padding-box padding-box rgb(254, 142, 20);
}

.btnScanActive:hover {
    background: #ffae38;
}

#div_LoadLocalImage input[type='button'] {
    margin: 15px 0;
    width: 90px;
    height: 30px;
}

#div_ScanImage {
    position: relative;
}

#div_ScanImage li {
    color: #323234;
    font-size: 12px;
}

#tblLoadImage {
    position: absolute;
    top: 68px;
    z-index: 1;
    padding: 30px 15px;
    width: 275px;
    height: 128px;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    background-color: #f5f5f5;
    background: #606060 0% 0% no-repeat padding-box;
}

#tblLoadImage > a {
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: normal;
    text-decoration: none;
}

#tblLoadImage a {
    color: #FE8E14;
}

#tblLoadImage a:hover {
    color: #ffae38;
}

#tblLoadImage .imgClose {
    margin-top: -5px;
    margin-right: -5px;
}

#tblLoadImage .spanContent {
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 200px;
    float: left;
    margin-left: 28px;
    margin-top: -36px;
}

#tblLoadImage .contentTitle {
    font: normal normal normal 14px/21px Oswald;
}

#tblLoadImage .contentDetail {
    font: normal normal normal 12px/22px Open Sans;
}

.tabList {
    list-style: none;
    float: left;
    width: 50%;
    padding-left: 20px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    font: normal normal normal 16px/24px Oswald;
    letter-spacing: 0px;
    padding-top: 6px;
}

.selectTab {
    border-top: solid 4px #323234;
}

.unselectTab {
    background: #323234 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    border-bottom: solid 1px #ccc;
}

#tabCon {
    height: 303px;
}


/*#divSaveDetail*/
#divSaveDetail input[type='text'] {
    width: 70%;
    padding-left: 5px;
}





#divSaveDetail li label {
    display: inline-block;
    margin: 0 8px 0 0;
}

#divSaveDetail li img {
    margin-right: 2px;
}

#divSaveDetail li label:last-child {
    margin-right: 0;
}

#divSaveDetail li input {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

#divSaveDetail li:nth-child(3) {
    margin: 5px 0 4px;
}

#divSaveDetail li {
    padding: 0 20px;
    color: #323234;
    font-size: 12px;
}

#divSaveDetail li:nth-child(2) {
    padding-top: 5px;
}

#divSaveDetail input[type='button'] {
    margin: 10px 0 10px 0;
}

#divSaveDetail #btnUpload {
    padding: 0;
    width: 87px;
    height: 32px;
    cursor: pointer;
    font: normal normal normal 16px/24px Oswald;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

#divSaveDetail #txt_CustomInfo {
    width: 100%;
}

#divSaveDetail #txt_fileName {
    width: 60%;
    height: 25px;
}

#divSaveDetail #fileType {
    width: 30%;
}

.dynamsoft-dwt-dialog-body {
    border: 1px solid rgb(204, 204, 204);
    background-color: #FFFFFF;
}

.dynamsoft-dwt-header {
    background: #323234 0% 0% no-repeat padding-box;
    height: 15px;
    margin-bottom: 30px;
}

.ds-dwt-ui-dlg-wrap .button-yes {
    width: 100px;
    margin-bottom: 20px;
    height: 42px;
    font: normal normal normal 16px/30px Oswald;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #FE8E14 0% 0% no-repeat padding-box;
    border: none;
    cursor: pointer;
    margin-right: 23px;
}

.ds-dwt-ui-dlg-wrap .button-yes:hover {
    background: #ffae38;
}

.ds-dwt-ui-dlg-wrap .button-no {
    border: 2px solid #FE8E14;
    font: normal normal normal 16px/30px Oswald;
    letter-spacing: 0px;
    color: #FE8E14;
    text-transform: uppercase;
    background: #FFFFFF;
    width: 100px;
    height: 42px;
}

.dynamsoft-dwt-showMessage {
    margin-top: 15px;
}

.dynamsoft-dwt-showMessage-detail {
    margin-left: 85px;
    text-align: left;
    font: normal normal normal 14px/30px Open Sans;
    letter-spacing: 0px;
    color: #323234;
}

#showMessage {
    margin-right: 5px;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.dynamsoft-dwt-installdlg-buttons {
    margin: 20px 10px 8px 10px;
    text-align: center;
}

/*=============== DWTcontainerBtm ===============*/
#DWTcontainerBtm {
    position: relative;
    float: left;
    width: 996px
}

#DWTUploadContainer {
    float: left;
}

#DWTUploadContainer input[type='text'] {
    border: solid 1px #ccc;
    padding-left: 3px;
}

#DWTUploadContainer input[type='button'] {
    cursor: pointer;
    margin: 0 3px;
    outline: none;
}

#DWTdivUploade {
    padding: 5px 0 0;
    font-size: 14px;
    font: normal normal normal 14px/21px Oswald;
    letter-spacing: 0px;
    color: #323234;
}

#resultWrap {
    width: 100%;
    height: 258px;
    font-size: 8px;
    min-height: 80px;
    overflow-y: scroll;
}

#resultWrap .info {
    padding: 8px 0 9px 20px;
}

#resultWrap .title {
    text-align: left;
    font: normal normal normal 13px/18px Open Sans;
    letter-spacing: 0px;
    color: #323234;
}

#resultWrap .content {
    text-align: left;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #606060;
    margin-left: 10px;
}

#resultWrap table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}

#resultWrap table, th, td {
    border: none
}

/*#resultWrap a { color: #606060; text-decoration: none; background-color: transparent;}*/
#resultWrap a {
    cursor: pointer;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #FE8E14;
}

#resultWrap a:hover {
    color: #ffae38;
}

#resultWrap tr td:nth-child(2) span {
    display: inline-block;
    width: 4px;
    height: 17px;
    color: #ccc;
    overflow: hidden;
}

#DWTdivMsg {
    padding: 6px 0 0 8px;
    margin-top: 10px;
    width: 315px;
    height: 100px;
    overflow-y: scroll;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    font: normal normal normal 12px/17px Open Sans;
    border-top: solid 4px #323234;
}

.lblMessage {
    text-align: left;
    font: normal normal normal 14px/21px Oswald;
    letter-spacing: 0px;
    color: #323234;
}

#DWTemessage {
    width: 100%;
    height: 77%;
}

#DWTemessageContainer {
    float: right;
}

