<!DOCTYPE html>
<html>
<head>
 <title>Hello World</title>
 <script src="dist/dynamsoft.webtwain.min.js"></script>
</head>
<body>
  <div style="text-align: center;">
    <p>Select a device and scan or open a local file:</p>
    <select id="sources" style="width: 40%;"></select><br />
    <button  mat-raised-button color="warn" (click)="acquire()" style="width: 15%;">Scan Documents</button>
    <button  mat-raised-button color="warn" (click)="openImage()" style="width: 15%; margin:2em 2em 3em 40%;">Open Documents</button>
    <div class="dev">
    <div class="con w-75" id="dwtcontrolContainer"></div>
    <div>

      <div id="divScanner" class="divinput">
        <ul class="PCollapse">
            <li>
                <div class="divType">
                    Custom Scan</div>
                <div id="div_ScanImage" class="divTableStyle">
                    <ul id="ulScaneImageHIDE" style=" font-size: 20px;">

                        <li id="divProductDetail" style=" font-size: 20px;">
                        <ul id="divTwainType"> <li>
                        <label style="width: 165px;" id="lblShowUI" for="ShowUI">
                            <input type="checkbox" id="ShowUI">Show Scanner UI&nbsp;</label>
                        <label for="ADF"><input type="checkbox" id="ADF">Use ADF&nbsp;</label></li>
                        <li><label style="width: 165px;" for="DiscardBlankPage">
                            <input type="checkbox" id="DiscardBlankPage">Auto Remove Blank Page</label><label for="Duplex"><input type="checkbox" id="Duplex">2-sided Scan</label></li><li>Pixel Type:<label for="BW" style="margin-left:5px;" class="lblPixelType"><input type="radio" id="BW" name="PixelType">B&amp;W </label><label for="Gray" class="lblPixelType"><input type="radio" id="Gray" name="PixelType">Gray</label><label for="RGB" class="lblPixelType"><input type="radio" id="RGB" name="PixelType">Color</label></li><li><span>Resolution:</span><select size="1" id="Resolution"><option value="100">100</option><option value="150">150</option><option value="200">200</option><option value="300">300</option></select></li></ul></li>
                        <li>
                          <button  mat-raised-button color="warn" (click)="acquire()" style="width: 15%;">Scan </button>
                          
                            
                        </li>
                    </ul>
                  
                </div>
            </li>
        </ul>
    </div>



    <div id="tabCon" class="divinput mt30">
        <div id="divSaveDetail">
            <ul>
                <li>
                    <p style=" font-size: 20px;" >File Name:</p>
                    <input matInput type="text" size="50" id="txt_fileName"  style=" font-size: 20px;" ><span> . </span>
                    <select size="1" id="fileType" style="position:relative;width: 25%; font-size: 20px;" onchange="fileType_onchange();">
                    <option value="pdf">pdf</option>
                    <option value="tif">tif</option>
                    <option value="jpg">jpg</option>
                    <option value="png">png</option>
                    <option value="bmp">bmp</option>
                </select>
                </li>
                    <li style=" font-size: 20px;">
                    Pages:
                    <label for="CurrentPage" style="margin-left:20px;">
                    <input type="radio" id="CurrentPage" name="Pages">Current Page </label>
                    <label for="AllPages" style="margin-left:20px;">
                    <input type="radio" id="AllPages" name="Pages">All Pages</label>
                </li>
                <li style=" font-size: 20px;">
                    <span class="customInfo" onmouseover="showCustomInfo();" onmouseout="hideCustomInfo();">Optional Custom Info <i class="fa fa-download"></i></span> :
                    <div style="display:none;" id="customDetail">You can input any custom info to be uploaded with your images.</div>
                    <input type="text" id="txt_CustomInfo">
                </li>
                <li>
                    <input id="btnUpload" class="btnOrg" type="button" value="Upload" onclick="saveUploadImage('server')">
                    <a id="btnSave" class="btnLoadAndSave" (click)="saveUploadImage('local')">Save to Local Drive</a>
                </li>
            </ul>
        </div>
        <div id="divUploadedFiles" style="display:none;">
            <div id="resultWrap"></div>                    
        </div>
    </div>


    </div>
  </div>
</div>
<button mat-raised-button color="primary" (click)="btnRotateLeft()" style="width: 10%; margin:2em 0 1em 1%;">rotate</button>
<button mat-raised-button color="primary" (click)="btnMirror_onclick()" style="width: 10%; margin:2em 0 1em 2%;">Mirror</button>
<button mat-raised-button color="primary" (click)="btnFlip_onclick()" style="width: 10%; margin:2em 0 1em 2%;">Flip</button>
<button mat-raised-button color="primary" (click)="btnNextImage_onclick()" style="width: 10%; margin:2em 1em 1em 2%;">Next</button>
<button mat-raised-button color="primary" (click)="RemoveCurrentImage()" style="width: 10%; margin:2em 1em 1em 2%;">Delete Image</button>
<button mat-raised-button color="primary" (click)="RemoveAllImages()" style="width: 10%; margin:2em 1em 1em 2%;">Delete All</button>
<input type='number' size='2' style="width: 3%; margin:4em 1em 1em 2%;"   id='DW_TotalImage' readonly='readonly'/>
<input type='number' size='2'  style="width: 3%; margin:4em 0 02%;"  id='DW_CurrentImage' readonly='readonly'/>
<button  mat-raised-button color="primary" (click)="btnPreImage()" style="width: 10%; margin:4em 1em 1em 2%;">pre</button>
<button  mat-raised-button color="primary" (click)="saveUploadImage('local')" style="width: 10%; margin:4em 1em 1em 2%;">Save</button>





</body>
</html>
